<div class="container py-4">
  <div class="card">
    <div class="card-header">
      <h1 class="h4 mb-0"><%= t('users.edit_user') %></h1>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
